body::before {
    content: "";
    background-color: white;
    background-size: contain;
    background-position: center top 120px;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto; /* 페이지 바깥 여백 */
    padding: 0;
    width: 428px; /* 추천 가로 크기 */
    height: 926px; /* 추천 세로 크기 */
    border: 1px solid black;

    background-image: url("images/background2.png");
    background-size: contain;
    background-position: center top 120px;
    background-repeat: no-repeat;
}

.button-container {
    margin-top: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px; /* 버튼 컨테이너의 최대 너비를 설정할 수 있습니다. */
    margin: 0 auto; /* 가운데 정렬을 위해 margin을 설정할 수 있습니다. */
  }
  
  .button-container a {
    width: calc(50% - 10px); /* 버튼의 너비를 설정할 수 있습니다. 여기서는 2개씩 나란히 보이도록 50%로 설정하였습니다. */
    margin-bottom: 20px; /* 버튼 사이에 간격을 주기 위해 margin-bottom을 설정할 수 있습니다. */
  }
  
  @media (max-width: 480px) {
    .button-container a {
      width: 100%; /* 모바일 화면에서는 버튼이 1개씩 나오도록 100%로 설정합니다. */
    }
  }

.profile-images {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.image-container {
    position: relative;
}

.image-text {
    position: absolute;
    font-size: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -60px;
    align-items: center;
}

.image-text2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    top: -80px;
    transform: translateX(-50%);
    color: rgb(41, 90, 212);
    font-size: 20px;
}